<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="leetreveil.Zuse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <leetreveil.Zuse.Properties.Settings>
            <setting name="TrackDisplayFormat" serializeAs="String">
                <value>"%artist% - %album% - %title%"</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
        </leetreveil.Zuse.Properties.Settings>
    </userSettings>
</configuration>